* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* add font-family */
body {
  background-color: #d9dcd6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* remove font-family */
.header {
  padding: 0 10px;
  background-color: #2589bd;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* add black color */
.header h1 .seo {
  color: #000000;
}

/* add .header nav */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* merge class search-engine-optimization online-reputation-management social-media-marketing */
.content div {
  margin-bottom: 20px;
  padding: 25px;
  height: 250px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
  color: #ffffff;
}

.content img {
  max-height: 200px;
}

.content h2 {
  margin: 15px 0;
  font-size: 36px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
  color: #ffffff;
}
/* merge class h3 benefit-lead-brand-cost */
.benefits h3 {
  margin: 15px 0 0 0;
  text-align: center;
}
/* merge class img benefit-lead-brand-cost */
.benefits img {
  display: block;
  margin: auto;
  max-width: 150px;
}

footer {
  padding: 30px;
  clear: both;
  text-align: center;
}
